#guide {
	width: 100%; /* Ширина области */
	height: 200px; /* Высота области */
	margin: 0; /* Обнуляем отступы */
}
#guide img {
	filter: opacity(40%) blur(4px);
	width: 100%; /* Ширина изображений */
	height: 100%; /* Высота изображении */
	object-fit: cover; /* Вписываем фотографию в область */
}
