:root {
	--bs-body-bg: #fbfcfd;
}

#guide {
	position: relative;
}
#guide img {
	position: absolute;
	height: 100%;
	filter: opacity(40%) blur(4px);
	object-fit: cover;
}
#guide .card-body {
	position: relative;
}
#guide .card-footer {
	position: relative;
}

#guide .dropdown {
	position: absolute;
	right: 0;
	top: 0;
}

#articles .card {
	aspect-ratio: 210 / 297;
}

#guides .card {
	aspect-ratio: 210 / 297;
	position: relative;
}

#guides .card img {
	position: absolute;
		height: 100%;
	filter: opacity(40%) blur(2px);
	object-fit: cover;
}

#guides .card-body {
	position: relative;
}
#guides .card-footer {
	position: relative;
}

#article .container{
	position: relative;
}

#article .title{
	position: relative;
}

#article .dropdown {
	position: absolute;
	right: 0;
	top: 0.3em;
}