{% extends 'bootstrap5/bootstrap5.html' %}

{% load static %}
{% load bootstrap5 %}

{% block bootstrap5_title %}{% block title %}Главная{% endblock %} - GuideLines{% endblock %}

{% block bootstrap5_content %}
<div class="container-fluid">
    <div class="row bg-light">
        <div class="col-12">
            <div class="container">
                <div id="header" class="navbar navbar-light navbar-expand-md bg-light">
                    <div class="container-fluid position-relative">

                        <span class="navbar-brand mb-0 h1 d-md-inline d-none">GuideLines</span>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <div class="navbar-nav me-auto mb-1 mb-md-0">
                                <a class="nav-link active" aria-current="page" href="#">Руководства</a>
                                <a class="nav-link" href="#">Авторы</a>
                            </div>
                        </div>

                        <div class="position-absolute end-0 top-0 me-2 mt-0 d-flex align-items-center">
                            {% if user.is_authenticated %}
                                <span class="navbar-text me-2 ">
                                    {% if user.first_name %}
                                        {{ user.first_name }} {{ user.last_name }}
                                    {% else %}
                                        {{ user.username }}
                                    {% endif %}
                                </span>
                                <a class="btn btn-outline-secondary" href="{% url 'logout' %}" id="logout-btn">Выход</a>
                            {% else %}
                                <a class="btn btn-outline-primary" href="{% url 'login' %}" id="login-btn">Вход</a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="container pt-4">
    {% block content %}

    {% endblock %}
    </div>
</div>
{% endblock %}