{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Главная{% endblock %} - GuideLines</title>

</head>
<body>
    <div id="header">
        {% if user.is_authenticated %}
            {% if user.first_name %}
                {{ user.first_name }} {{ user.last_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
            |<a href="{% url 'logout' %}" id="logout-btn">Выход</a>
        {% else %}
            <a href="{% url 'login' %}" id="login-btn">Вход</a>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}
            Test
        {% endblock %}
    </div>
</body>
</html>