{% extends 'base.html' %}

{% load bootstrap5 %}
{% load static %}

{% block title %}
    {{ guide.name }}
{% endblock %}

{% block content %}
<div class="row justify-content-center pt-5">
    <div class="col">
        <div class="row mt-5" >
            <div class="col">
                <div class="card bg-dark text-white" id="guide">
                    <img src="{{ guide.cover.url }}" class="card-img" alt="">
                    <div class="card-img-overlay">
                        <h1 class="card-title">{{ guide.name }}</h1>
                        <p class="card-text mt-5">{{ guide.description }}</p>
                        <div class="card-footer bg-transparent border-light">
                            <p class="text-end">{{ guide.author.first_name }} {{ guide.author.last_name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}